@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa&family=Montserrat&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    background-color: #F6F4EB;
}
header{
    background: #91C8E4;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}
main{
    height: 709px;
}
footer{
    background: #749BC2;
    height: 100px;
    flex-shrink: 0;
}
button{
    width: 180px;
    height: 50px;
    background-color: #749BC2;
    border-radius: 10px;
    margin: 10px;
}
.product-wrapper{
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}
.product1{
    background-image: url("https://hamleys.ru/upload/iblock/b32/b32ec413d39a8760a70cba895122ce5e.jpg");
    background-size: cover;
}
.product2{
    background: url(https://hamleys.ru/upload/iblock/b32/b32ec413d39a8760a70cba895122ce5e.jpg);
    background-size: cover;
}
.product3{
    background: url(https://hamleys.ru/upload/iblock/b32/b32ec413d39a8760a70cba895122ce5e.jpg);
    background-size: cover;
}
.product4{
    background: url(https://hamleys.ru/upload/iblock/b32/b32ec413d39a8760a70cba895122ce5e.jpg);
    background-size: cover;
}
.cart-button{
    border: 20px;
    color: yellow;
    width: 224px;
    height: 48px;
}
.products{
    height: 200px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.goods{
    flex-direction: column;
}
